<%= form_tag(business_respondent_profile_path(current_respondent, current_respondent.profile)) do  %>
  
  
   
        <label>Annual income </label>
        <input type='text' name="business[income]" value="<%= @profile.business.parameters['income'] %>"/><br />
     
  <p>
    <%= button_to 'submit' %>
  </p>
<% end %>