<%= form_for @survey, :html => { :class=>'nice' } do |f| %>
<div class="row">
			<div class="twelve columns">
				<h3>Создание опроса</h3>
				<dl class="tabs contained">
					<dd><a href="#simple1" class="active">Общие настройки</a></dd>
					<dd><a href="#simple2">Вопросы</a></dd>
					<dd><a href="#simple3">Оформление</a></dd>
					<dd><a href="#simple4">Публикация</a></dd>
				</dl>
				
				<ul class="tabs-content contained">
					<li class="active" id="simple1Tab">
						<%= render 'form_basic', :form => f, :s => @survey %>
					</li>
					<li id="simple2Tab">
						<%= render 'form_questions', :form => f, :s => @survey unless @survey.new_record? %>
					</li>
					<li id="simple3Tab">This is simple tab 3's content. It's, you know...okay.</li>
					<li id="simple4Tab">This is simple tab 3's content. It's, you know...okay.</li>
				</ul>
			</div>
		</div>
<% end %>