<%= form_for @survey, :html => { :class=>'nice' } do |f| %>
<div class="row">
			<div class="twelve columns">
				<h3>Создание опроса</h3>
				<dl class="tabs contained">
					<dd><a href="#simple1" class="active">Общие настройки</a></dd>
					<dd><a href="#simple2">Вопросы</a></dd>
					<dd><a href="#simple3">Оформление</a></dd>
					<dd><a href="#simple4">Публикация</a></dd>
				</dl>
				
				<ul class="tabs-content contained">
					<li class="active" id="simple1Tab">
						<%= render 'basic_form', :form => f %>
					</li>
					<li id="simple2Tab">
						<div class="">
							<h3>Выберите шаблон</h3>
						</div>
						<hr />
						<div class="row">
							<div class="three columns">
							
								<div class="palette">
									<!--Если вдруг экран окажется совсем маленьким, то нужно добавлять полосу прокрутки. Примерно то же самое для айпада. Как вариант можно сделать раскрывающееся меню под вопросами-->
									<%= f.submit "Сохранить", :class=>'nice radius button' %>
									<!--<a href="#" class="nice radius button">Сохранить</a>-->
									<h5 style="padding-top: 1.5em;">Инструменты</h5>
									<hr />
									<a href="#">Демографические данные</a>
									<hr />
									<ul>
										<!--Отсортировано по частоте использования-->
										<li><a href="#">Несколько вариантов ответа</a></li>
										<li><a href="#">Открытый вопрос</a></li>
										<li><a href="#">Матрица</a></li>
										<li><a href="#">Оценка</a></li>
									</ul>
									<hr />
									<ul>
										<!--Отсортировано по алфавиту, потому что нестандартные поля, не так часто используются-->
										<li><a href="#">Дата и время</a></li>
										<li><a href="#">Изображение</a></li>
										<li><a href="#">Ссылка</a></li>
										<li><a href="#">Текст</a></li>
										<li><a href="#">Числа</a></li>
									</ul>
									<hr />
									<a href="#">Логика пропуска</a>
								</div>
								
							
							</div>
							<div class="nine columns">
								<!--Добавление страницы, предпросмотр-->
								<div style="background-color: #f4f4f4; padding: 0.5em 1em 0; margin-bottom: 1em;">
									
									<div class="row">
										<div class="four columns">
											<a href="#" class="white small radius button">+ Добавить страницу</a>
										</div>
										<div class="five columns">
											<!--Если слишком много страниц, то стоит добавить дропдаун-->
											<ul class="pagination" style="margin-bottom: 0;">
											  <li class="unavailable"><a href="">&laquo;</a></li>
											  <li class="current"><a href="">1</a></li>
											  <li><a href="">2</a></li>
											  <li><a href="">3</a></li>
											  <li><a href="">4</a></li>
											  <li class="unavailable"><a href="">&hellip;</a></li>
											  <li><a href="">12</a></li>
											  <li><a href="">13</a></li>
											  <li><a href="">&raquo;</a></li>
											</ul>
										</div>
										<div class="three columns" style="text-align: right;"><a href="#" class="small white nice radius button">Предпросмотр</a></div>
									</div>
								
								</div>
								<!--<form class="nice">-->
								<ol>
									<li>
										<fieldset>
											<h5>Вы довольны своей зарплатой? <small>(<a href="#">редактировать</a>)</small></h5>
											<label for="radio1"><input type="radio" name="radio" id="radio1"> Да, очень</label>
											<label for="radio2"><input type="radio" name="radio" id="radio2"> Нет, я хочу много денег</label>
											<label for="radio3"><input type="radio" name="radio" id="radio3"> Мне нравится моя зарплата, я езжу на бэнтли</label>
											<label for="radio4"><input type="radio" name="radio" id="radio4"> Мне даже покушать не на что. Суши есть приходится, или чем там бедные питаются.</label>
										</fieldset>
										<fieldset style="padding-bottom: 1em;">
											<h5>Edit: Вы довольны своей зарплатой?</h5>
											<label for="question1">Введите вопрос</label>
											<input type="text" class="input-text" name="" value="Вы довольны своей зарплатой?" id="question1" />
											<label for="abcd">Варианты строк: введите каждый вариант в отдельной строке</label>
											<textarea style="height: 8em;" id="abcd" class="large"></textarea>
											<div class="row">
												<div class="six columns"><a href="#" class="small nice radius button">Применить</a></div>
												<div class="six columns" style="text-align: right;">
													<a href="#" class="small white radius button">Отменить изменения</a> или <a href="#">удалить</a>
												</div>
											</div>
										</fieldset>
									</li>
									<li>
										<fieldset>
											<h5>Вопрос про чекбоксы?</h5>
											<label for="checkbox1"><input type="checkbox" id="checkbox1"> Да, меня возбуждают чекбоксы и я горжусь этим</label>
											<label for="checkbox2"><input type="checkbox" id="checkbox2"> Вы вообще что курили, когда писали эти ответы</label>
											<label for="checkbox3"><input type="checkbox" id="checkbox3"> Мы не курили, просто спать надо больше</label>
											<label for="checkbox4"><input type="checkbox" id="checkbox4"> Я хочу кушать</label>
											<label for="checkbox5"><input type="checkbox" id="checkbox5"> 010101010101</label>
										</fieldset>
									</li>
									<li>
										<fieldset>
											<h5>Как вы провели своё лето? Сочинение, 9-й "А" класс</h5>
											<textarea placeholder="Сережа, домой! Экзамены завтра. Нужно сделать больше!" class="large" style="height: 6em;"></textarea>
										</fieldset>
									</li>
									<li>
										<fieldset>
										<h5>Матрица. Нео-пух и все, все, все. Часть третья. "Всё что имеет начало, имеет и конец"</h5>
											<table width="100%">
												<caption>Матрица ответов</caption>
												<thead>
													<tr>
														<th> </th>
														<th scope="col">Раки</th>
														<th scope="col">Близнецы</th>
														<th scope="col">Вы думали гороскоп?</th>
														<th scope="col">Нееет, это меню</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<th scope="row" align="left">Тут должен быть горизонтальный пипец</th>
														<td align="center">
															<input type="checkbox" name="" value="" />
														</td>
														<td align="center">
															<input type="checkbox" name="" value="" />
														</td>
														<td align="center">
															<input type="checkbox" name="" value="" />
														</td>
														<td align="center">
															<input type="checkbox" name="" value="" />
														</td>
													</tr>
													<tr>
														<th scope="row" align="left">ну и ладно, забить</th>
														<td align="center">
															<input type="checkbox" name="" value="" />
														</td>
														<td align="center">
															<input type="checkbox" name="" value="" />
														</td>
														<td align="center">
															<input type="checkbox" name="" value="" />
														</td>
														<td align="center">
															<input type="checkbox" name="" value="" />
														</td>
													</tr>
													<tr>
														<th scope="row" align="left">отбить, а потом еще раз забить</th>
														<td><input type="checkbox" name="" value="" /></td>
														<td><input type="checkbox" name="" value="" /></td>
														<td><input type="checkbox" name="" value="" /></td>
														<td><input type="checkbox" name="" value="" /></td>
													</tr>
												</tbody>
											</table>
										</fieldset>
									</li>
								</ol>
								<!--</form>-->
								
								
								<!--Добавление страницы, предпросмотр-->
								<div style="background-color: #f4f4f4; padding: 0.5em 1em 0; margin-bottom: 1em;">
									
									<div class="row">
										<div class="four columns">
											<a href="#" class="white small radius button">+ Добавить страницу</a>
										</div>
										<div class="five columns">
											<!--Если слишком много страниц, то стоит добавить дропдаун-->
											<ul class="pagination" style="margin-bottom: 0;">
											  <li class="unavailable"><a href="">&laquo;</a></li>
											  <li class="current"><a href="">1</a></li>
											  <li><a href="">2</a></li>
											  <li><a href="">3</a></li>
											  <li><a href="">4</a></li>
											  <li class="unavailable"><a href="">&hellip;</a></li>
											  <li><a href="">12</a></li>
											  <li><a href="">13</a></li>
											  <li><a href="">&raquo;</a></li>
											</ul>
										</div>
										<div class="three columns" style="text-align: right;"><a href="#" class="small white nice radius button">Предпросмотр</a></div>
									</div>
								
								</div>
							</div>
						</div>
						
						<hr/>
						<div class="row">
							<div class="four columns">
								<a href="#" class="small white radius button">Отмена</a>
							</div>
							<div class="four columns" style="text-align: center;">
								<a href="#" class="nice radius button">Сохранить</a>
							</div>
							<div class="four columns" style="text-align: right;">
								<a href="#" class="small white radius button">К оформлению&nbsp;<i class="icon">▶</i></a>
							</div>
						</div>
					</li>
					<li id="simple3Tab">This is simple tab 3's content. It's, you know...okay.</li>
					<li id="simple4Tab">This is simple tab 3's content. It's, you know...okay.</li>
				</ul>
			</div>
		</div>
<% end %>