

  <dl class="tabs">
	  <dd><a href="#simple1" class="active">General Settings</a></dd>
	  <dd><a href="#simple2">Social-Demographic</a></dd>
	  <dd><a href="#simple3">Business</a></dd>
	  <dd><a href="#simple4">Map of Wishes</a></dd>
  </dl>
  <ul class="tabs-content">
	  <li class="active" id="simple1Tab"><%= render 'general_settings' %></li>
	  <li id="simple2Tab"><%= render 'social_demographic' %></li>
	  <li id="simple3Tab"><%= render 'business' %></li>
	  <li id="simple4Tab">I don't know how this form will look like</li>
  </ul>
  
