<table>
	<tr>
		<td>username</td>
		<td>email</td>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.username %></td>
		<td><%= user.email %></td>
	</tr>
	<% end %>
	
</table>

<%#=  link_to('new respondent', new_respondent_path) %>

<%= link_to 'my profile', profile_path %>